<!-- templates/includes/sidebar.html -->
<aside class="sidebar fade-up" style="animation-delay: 0.2s;">
            
    <!-- Место под картинку -->
    <div class="sidebar-image">
        <i class="fa-solid fa-cloud"></i>
    </div>

    <!-- Блок полезных ссылок -->
    <div class="sidebar-widget">
        <h3>ПОЛЕЗНЫЕ ССЫЛКИ</h3>
        <div class="useful-links">
            <a href="https://egov.kg/ru/ministry/culture">МИН.КУЛЬТУРЫ</a>
            <a href="https://neb.kg/">НАЦ.ЭЛЕК.БИБ</a>
            <a href="https://lib.rbdu.kg/jirbis2/">ПОИСКОВИК ПО КАТ</a>
            <a href="https://www.gov.kg/ru">ПРАВ. КР</a>
        </div>
    </div>

    <!-- Блок соцсетей -->
    <div class="sidebar-widget">
        <h3>СОЦИАЛЬНЫЕ СЕТИ</h3>
        <div class="social-grid">
            <a href="#" class="social-circle"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="social-circle"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="social-circle"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>

</aside>